<style>
    canvas {
        background-color: rgb(245, 245, 245, .6);
        border-radius: 25px;
    }

    h1 {
        color: lightcyan;
        font-size: 48px;
        text-shadow: 2px 2px black;
    }
</style>

<h1 class="text-center">Scoreboard</h1>
<canvas id="weeklyScoreboard"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/homepagechart.js"></script>