<style>
	table {
		background-color: whitesmoke;
		border-style: solid;
		margin-top: 15px;
	}
</style>

<h1 class="text-center" id="scoreboardPage">🏈 Scoreboard 🏈 </h1>
<div class="dropdown">
	<p>Select Week</p>
	<button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
		{{! TODO: Add javascript to add default name to selected week}}
	</button>
	<ul class="dropdown-menu weeks">
		{{! List of available weeks in DESCENDING ORDER }}
		{{#each weeks as |week|}}
		<li>
			<a class="dropdown-item week-num" href="#">
				Week
				{{week.week_num}}
			</a>
		</li>
		{{/each}}
	</ul>
</div>

<table class="table scoreboard">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Game 1</th>
			<th scope="col">Game 2</th>
			<th scope="col">Game 3</th>
			<th scope="col">Game 4</th>
			<th scope="col">Game 5</th>
			<th scope="col">Game 6</th>
			<th scope="col">Game 7</th>
			<th scope="col">Game 8</th>
			<th scope="col">Game 9</th>
			<th scope="col">Game 10</th>
		</tr>
	</thead>
	<tbody>
		{{!-- {{#each user}} --}}
		<tr>
			{{! Handlebars name }}
			<th scope="row">{{name}}</th>
			<td>{{pick}}:{{points}}</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>Mark</td>
		</tr>
		{{!-- {{/each}} --}}
		<tr>
			<th scope="row">2</th>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
			<td>Jacob</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
			<td>Jacob</td>
		</tr>
	</tbody>
</table>